# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Mac stuff
.DS_Store

# binary
/awsctl

# Project
vendor
dist
dist/

# Environment variables
.env